mixin cardExperience(titleMsg, image, description)
  div(class="card col-10 m-2 col-md-5 m-md-4 col-lg-3 m-lg-5", style="display:flex; align-items:center")
    img(src=image, class="card-img-top", alt=titleMsg, style="max-width: 280px;")
    div(class="card-body")
      h5(class="card-title") #{titleMsg}
      hr/
      p(class="card-text") #{description}
